.screen {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgba(200,200,200,0.8);
}

.loading-content {
    position: relative;
    top: 40%;
    left: 45%;
}